.song-row {
  display: flex;
  padding: 5px 0 5px 0;
  border-top: 1px solid black;
  align-items: center;

}

.song-row div {
  margin-right: 10px;
  text-align: left;
  width: 40%;
}

.song-row div.song-ranking {
  width: 50px;
  text-align: right;
}

.song-row div.song-popularity {
  width: 20%
}