.top-songs {
  width: 100%;
  margin-bottom: 40px;
}

.success-message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background-color: #1db954;
  border-radius: 5px;
}

.success-message .nav-link {
  color: white;
  background-color: transparent;
  border: none;
  font-size: inherit;
  font-family: inherit;
  text-decoration: underline;
}

.success-message .nav-link:hover {
  cursor: pointer;
  color: rgb(18, 128, 57);
}

.success-message .nav-link:focus {
  outline: none;
}

header.top-songs-header {
  display: flex;
  margin-top: 15px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid white;
  padding-bottom: 27px;
}

header .top-songs-button {
  width: 18%;
}

header .top-songs-title {
  display: inline-block;
  text-align: center;
  margin: 0 0 0 0;
  width: 50%;
}

@media only screen and (max-width: 850px) {
  header.top-songs-header {
    margin-top: 0;
  }
}